/* --------------------------------------------------------- 
Colors:
Black: #0F0F0F
White: #F3F9F4
Primary: #688D70
Secondary: #52637A
Accent: #BE8769

1. Body
2. Typography
3. Page Structure
    3.1 Header
    3.2 Homepage
        3.2.1 Hero Section
        3.2.2 Work Section
    3.3 About Page
    3.4 Project Page
        3.4.1 Plantwise
        3.4.2 Lingoshelf
    3.5 Footer

-------------------------------------------------------------*/

/*-----------------------------------------------------------
 1. Body
 ------------------------------------------------------------*/

*{
    box-sizing: border-box;
}

body {
    background-color: #F3F9F4;
    color: #0F0F0F;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 1.6;
}

/*----------------------------------------------------------------
    2. Typography
------------------------------------------------------------------*/

/* Heading Default*/
h1, h2, h3, h4 {
    line-height: 1.7;
}

h1 {
    font-family: 'Oswald', 'Poppins', sans-serif;
    font-size: 3.75em;
    font-weight: 700;
    margin-top: 16px;
    text-align: center;

}

h2 {
    font-size: 2.25em;
    font-weight: 700;
}

h3 {
    font-size: 1.35em;
    font-weight: 700;
    margin-top: 2em;
    margin-bottom: 0.5em;
}

h4 {
    font-size: 1.15em;
    font-weight: 600;
    margin-bottom: 0.5em;
    margin-top: 1.5em;
}

h5 {
    font-weight: 600;
    font-size: 1em;
    margin-bottom: 0.5em;
}

p {
    max-width: 900px;
    margin-top: 0;
}


/*----------------------------------------------------------
    3. Page Structure
------------------------------------------------------------*/

/*Common Elements*/
img {
    width: 100%;
}

li {
    max-width: 800px;
    margin-bottom: 0.8em;
}

/* Link Style */
a:link, a:visited  {
    color: #0F0F0F;
    text-decoration: none;
}

a:hover {
    color: #688D70;
}

a:active, a:focus {
    color: #506F57;
}


/* Primary Button Style */
.button:link, .button:visited {
    display: inline-block;
    background-color: #688D70;
    color: #F3F9F4;
    font-weight: 600;
    padding: 12px 16px;
    border-radius: 20px;
    transition: 0.2s opacity;
    margin: 8px 0 16px 0;
}

.button:hover, .button:active, .button:focus {
    background-color: #506F57;
    color: #F3F9F4;
}


/* Secondary Button Style */
.button.contact:link, .button.contact:visited {
    background-color: #BE8769;
    text-transform: uppercase;
}

.button.contact:hover, .button.contact:active, .button.contact:focus {
    background-color: #A97051;
}


/* Layout Styling */

.container {
    padding: 0 15px;
}

.row {
    margin: 48px 0;
}


/*--------------------------------------------------------
    3.1 Header
----------------------------------------------------------*/

header {
    text-align: center;
    padding: 10px 0;
    background-color: #688D70;
    padding: 0 0 20px 0;
    display: inline-block;
    width: 100%;
}


a.logo {
    max-width: 250px;
    text-transform: uppercase;
    color:#F3F9F4;
}

/* Navigation Styling */
nav {
    display: inline-block;
    width: 100%;
}

nav > ul {
    list-style-type: none;
    padding: 0;
}

nav > ul > li {
    display: inline-block;
}

nav > ul > li > a:link, nav > ul > li > a:visited {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #F3F9F4;
}

nav > ul > li > a:hover {
    color: #0F0F0F;
}

nav > ul > li > a:active, nav > ul > li > a:focus {
    color: #000000;
}


/*---------------------------------------------------------
    3.2 Homepage
-----------------------------------------------------------*/

#work h2 {
    text-align: center;
}

/*---------------------------------------------------------
    3.2.1 Hero Section
-----------------------------------------------------------*/

#hero {
    text-align: center ;
    color: #F3F9F4;
    background-color: #688D70;
    padding: 0 0 20px 0;
    display: inline-block;
    width: 100%;
}

/*----------------------------------------------------------
    3.2.2 Work Section
------------------------------------------------------------*/

#work .row {
    padding-bottom: 25px;
    /*border-bottom: 1px solid #0F0F0F;*/
}


/*-----------------------------------------------------------
    3.3 About Page
------------------------------------------------------------*/

/*-----------------------------------------------------------
    3.4 Project Page
------------------------------------------------------------*/

.project h2 {
    padding: 8px 0;
    border-bottom: 1.5px solid #0F0F0F;
    border-radius: 1px;
}

.top h2 {
    border-bottom: none;
    text-align: center;
}


/*----------------------------------------------------------
    3.6 Footer
------------------------------------------------------------*/

footer {
    background-color: #688D70;
    color: #F3F9F4;
    padding: 16px 15px;
}

.socials {
    display: inline-block;
    width: 15%;
    padding: 0 8px;
    margin: 24px 0;
}

footer h2 {
    text-align: center;
}
