/* --------------------------------------------------------- 
Colors:
Black: #0F0F0F
White: #F3F9F4
Primary: #688D70
Secondary: #52637A
Accent: #BE8769

1. Body
2. Typography
3. Page Structure
    3.1 Header
    3.2 Homepage
        3.2.1 Hero Section
        3.2.2 Work Section
    3.3 About Page
    3.4 Project Page
        3.4.1 Plantwise
        3.4.2 Lingoshelf
    3.5 Footer
4. CSS Animations
5. Responsive
    5.1 Small devices (415px and larger)
    5.2  Medium devices (640px and larger) 
        5.2.1 Header M
        5.2.2 Homepage M
        5.2.3 About M
        5.2.4 Project Pages M
            5.2.4.1 Plantwise M
            5.2.4.2 Lingoshelf M
    5.3 Large devices (1024px or larger) 
    5.4 X-large devices (1440px or larger) 
    
-------------------------------------------------------------*/

/*-----------------------------------------------------------
 1. Body
 ------------------------------------------------------------*/

* {
  box-sizing: border-box;
}

body {
  background-color: #f3f9f4;
  color: #0f0f0f;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

/*----------------------------------------------------------------
    2. Typography
------------------------------------------------------------------*/

/* Heading Default*/
h1,
h2,
h3,
h4 {
  line-height: 1.5;
}

h1 {
  font-family: "Oswald", "Poppins", sans-serif;
  font-size: 3em;
  font-weight: 700;
  margin-top: 16px;
  text-align: center;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 2em;
  font-weight: 700;
}

h3 {
  font-size: 1.35em;
  font-weight: 700;
  margin-top: 2em;
  margin-bottom: 0.5em;
}

h4 {
  font-size: 1.15em;
  font-weight: 600;
  margin-bottom: 0.5em;
  margin-top: 1.5em;
}

h5 {
  font-weight: 600;
  font-size: 1em;
  margin-bottom: 0.5em;
}

p {
  max-width: 900px;
  margin-top: 0;
}

.introduction{
  font-size: 1.15em;
  font-weight: 400;
  margin-bottom: 0.5em;
  margin-top: 1.5em;
  max-width: none;
}

/*----------------------------------------------------------
    3. Page Structure
------------------------------------------------------------*/

/*Common Elements*/
img {
  width: 100%;
}

li {
  max-width: 800px;
  margin-bottom: 0.8em;
}

/* Link Style */
a:link,
a:visited {
  color: #0f0f0f;
  text-decoration: none;
}

a:hover {
  color: #688d70;
}

a:active,
a:focus {
  color: #506f57;
}

/* Primary Button Style */
.button:link,
.button:visited {
  display: inline-block;
  background-color: #688d70;
  color: #f3f9f4;
  font-weight: 600;
  padding: 12px 16px;
  border-radius: 20px;
  transition: background-color 0.2s ease;
  margin: 8px 0 16px 0;
}

.button:hover,
.button:active,
.button:focus {
  background-color: #506f57;
  color: #f3f9f4;
}

/* Secondary Button Style */
.button.contact:link,
.button.contact:visited {
  background-color: #354B6A;
  text-transform: uppercase;
}

.button.contact:hover,
.button.contact:active,
.button.contact:focus {
  background-color: #1c2c42;
}

/* Layout Styling */

.container {
  padding: 0 15px;
}

.row {
  margin: 48px 0;
}

/*--------------------------------------------------------
    3.1 Header
----------------------------------------------------------*/

header {
  /* text-align: center; */
  background-color: #688d70;
  /* padding: 10px 0 20px 0; */
  display: inline-block;
  width: 100%;
}

a.logo {
  max-width: 250px;
  text-transform: uppercase;
  color: #f3f9f4;
  padding-top: 17px;
}

/* Navigation Styling */
nav {
  display: inline-block;
  /* width: 100%; */
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

/* nav > ul > li {
  display: inline-block;
} */

nav > ul > li > a:link,
nav > ul > li > a:visited {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #f3f9f4;
  transition: color 0.3s ease;
}

nav > ul > li > a:hover {
  color: #0f0f0f;
}

nav > ul > li > a:active,
nav > ul > li > a:focus {
  color: #000000;
}

.navtoggle {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  text-align: unset;
  padding: 24px 48px 0 48px;
}

.icon:link,
.icon:visited,
.icon:hover,
.icon:active,
.icon:focus {
  color: #f3f9f4;
}

.navtoggle li:not(:first-child) {
  display: none;
}

.navtoggle.responsive li {
  display: block;
  text-align: right;
}

/* .navtoggle.responsive nav {
  padding: 24px 0 0;
} */

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-bottom: 2px solid #f3f9f4;
}

.navtoggle.responsive li:first-child {
  padding: 0 0 10px;
  border-bottom: none;
  padding-bottom: 0;
  /* margin-bottom: 0; */
  float: right;
}

.navtoggle.responsive li a:link,
.navtoggle.responsive li a:visited,
.navtoggle.responsive li a:hover,
.navtoggle.responsive li a:active,
.navtoggle.responsive li a:focus {
  color: #f3f9f4;
}

/*---------------------------------------------------------
    3.2 Homepage
-----------------------------------------------------------*/

#work h2 {
  text-align: center;
}

/*---------------------------------------------------------
    3.2.1 Hero Section
-----------------------------------------------------------*/

#hero {
  text-align: center;
  color: #f3f9f4;
  background-color: #688d70;
  padding: 0 0 20px 0;
  display: inline-block;
  width: 100%;
}

/*----------------------------------------------------------
    3.2.2 Work Section
------------------------------------------------------------*/

#work .row {
  padding-bottom: 25px;
}

/*-----------------------------------------------------------
    3.3 About Page
------------------------------------------------------------*/

.btn-center {
  text-align: center;
}


/*-----------------------------------------------------------
    3.4 Project Page
------------------------------------------------------------*/

.project h2 {
  padding: 8px 0;
  border-bottom: 1.5px solid #0f0f0f;
  border-radius: 1px;
}

.top h2 {
  border-bottom: none;
  text-align: center;
}

/*--------------------------------------------------------------
    3.4.1 Plantwise
----------------------------------------------------------------*/

.persona-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 350px;
  width: 350px;
  margin-bottom: 16px;
}

.persona-name {
  text-align: center;
}

.functionalities-title {
  margin-top: 0;
}

.functionalities {
  margin-bottom: 3em;
}

.user-story1 {
  margin-top: 2em;
}

.rounded-corners {
  border-radius: 2em;
}

.plantwise-mockup {
  margin-top: 2em;
}

/*----------------------------------------------------------
    3.6 Footer
------------------------------------------------------------*/

footer {
  background-color: #688d70;
  color: #f3f9f4;
  padding: 16px 15px;
  color: #0f0f0f;
}

.linkedin,
.insta,
.behance {
  display: inline-block;
  width: 15%;
}

footer h2,
footer p {
  text-align: center;
  max-width: 100%;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 24px 0;
}

.sns-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.copyright {
  font-size: 0.8em;
}

.contact-headline {
  margin-bottom: 0.5em;
}

/* Japanese Styling */
/* .contact-jp {
  text-transform: uppercase;
} */

/*---------------------------------------------------------
    4. CSS Animation
-----------------------------------------------------------*/

/* Lamp Color Change Animation */
@keyframes color-change {
  0% {
    fill: #ff977c;
  }
  50% {
    fill: #f24650;
  }
  100% {
    fill: #a11241;
  }
}

.lamp {
  animation: 6s color-change infinite alternate linear;
}

/* Moving Cloud Animation */
@keyframes cloud-move-big {
  from {
    transform: translate(0, 20px);
  }
  to {
    transform: translate(-100px, 20px);
  }
}

.cloud-big-front {
  animation: 30s cloud-move-big infinite alternate linear;
}

@keyframes cloud-move-small {
  from {
    transform: translate(0, 8px);
  }
  to {
    transform: translate(-150px, 8px);
  }
}

.cloud-small-back {
  animation: 20s cloud-move-small infinite alternate linear;
}

@keyframes cloud-move-big-reverse {
  from {
    transform: translate(-100px, 10px);
  }
  to {
    transform: translate(100px, 10px);
  }
}

.cloud-big-back {
  animation: 20s cloud-move-big-reverse infinite alternate linear;
}

@keyframes cloud-move-small-reverse {
  from {
    transform: translate(-100px, 20px);
  }
  to {
    transform: translate(50px, 20px);
  }
}

.cloud-small-front {
  animation: 35s cloud-move-small-reverse infinite alternate linear;
}


/*----------------------------------------------------------
    5. Responive
------------------------------------------------------------*/

/*-----------------------------------------------------------
  5.1 Small devices (415px and larger)
-------------------------------------------------------------*/
@media only screen and (min-width: 415px) {
  h1{
    font-size: 3.75em;
  }

  h2{
    font-size: 2.25em;
  }

  .introduction{
    font-weight: 600;
  }

}


/*-----------------------------------------------------------
    5.2  Medium devices (640px and larger) 
-------------------------------------------------------------*/
@media only screen and (min-width: 640px) {
  body {
    font-size: 18px;
  }

  [class*="col-"] {
    float: left;
    padding: 10px;
  }

  .col-md-6 {
    width: 50%;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }

  .flex {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 32px;
  }

  h1 {
    line-height: 1.7;
  }


  /*---------------------------------------------------------------
     5.2.1 Header M
-----------------------------------------------------------------*/

  /* .navtoggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: unset;
    padding: 24px 48px;
  } */

  nav {
    width: auto;
    float: right;
  }

  nav > ul > li {
    display: inline-block;
  }


  .navtoggle li:not(:first-child) {
    display: inline-block;
  }

  .navtoggle li:first-child {
    display: none;
  }

  /*-------------------------------------------------------------------
    5.2.2 Homepage M
----------------------------------------------------------------------*/
  #hero span {
    display: block;
  }

  .btn-left {
    text-align: left;
  }

  .home-h2-margin {
    margin-top: 1em;
    text-transform: uppercase;
  }
  /*--------------------------------------------------------------------
    5.2.3 About M
----------------------------------------------------------------------*/

  .tools {
    padding-left: 100px;
  }

  /*----------------------------------------------------------------------
    5.2.4 Project Pages M
------------------------------------------------------------------------*/

  /*-----------------------------------------------------------------------
    5.2.4.1 Plantwise M
-------------------------------------------------------------------------*/

  .plantwise-main-mockup {
    flex: 1.5;
  }

  .main-text {
    flex: 1;
  }

  .plantwise-hero {
    align-items: center;
  }

  .plantwise-details {
    justify-content: flex-start;
  }

  .user-story {
    width: 50%;
  }

  .plantwise-mockup-m {
    display: flex;
    gap: 8px;
    align-items: center;
  }

  .style-text {
    flex: 2;
  }

  .style-img {
    flex: 1;
  }

  .style {
    align-items: center;
  }

  /*------------------------------------------------------------------------
     5.2.4.2 Lingoshelf M
--------------------------------------------------------------------------*/

  .user-flow {
    margin-bottom: 64px;
  }

  .solution1 {
    margin-bottom: 32px;
  }
}

/*--------------------------------------------------------------------------
    5.3 Large devices (1024px or larger) 
----------------------------------------------------------------------------*/
@media only screen and (min-width: 1024px) {
  .col-lg-5 {
    width: 41.66%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-7 {
    width: 58.33%;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

/*------------------------------------------------------------------------------
    5.4 X-large devices (1440px or larger) 
--------------------------------------------------------------------------------*/
@media only screen and (min-width: 1440px) {
}
